
#main{
  background: #FFA17F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFA17F , #00223E); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFA17F , #00223E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#features{
  position: relative;
}
#features:after{
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/monPlan.PNG');
  width: 100%;
  height: 100%;
  opacity : 0.25;
  z-index: -1;
}

.ui.secondary.inverted.pointing.menu{
  border-width: 0px;
}

#footer{
  background: #649173; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #649173 , #DBD5A4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #649173 , #DBD5A4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
